<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60" />
    <title>Website Status Checker</title>
    
    <style>
        #health-check {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #health-check td, #health-check th {
          border: 1px solid #ddd;
          padding: 5px;
        }
        
        /* #health-check tr:nth-child(even){background-color: #f2f2f2;} */
        
        #health-check tr:hover {background-color: #ddd;}
        
        #health-check th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4da6ff;
          color: white;
        }
        .valid-url {
            font-size: 12px;
            text-indent: 10px;
        }
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        .invalid-url {
            font-size: 10px;
            text-indent: 10px;
            color: grey;
        }
        div {
            display: block;
        }
        .time_updated {
            font-size: 12px;
            text-align: right;
        }
        .group {
            font-size: 20px;
            text-indent: 2px;
        }
        h1 {
            font-size: 2em;
            margin: .67em 0;
        }
        </style>
</head>
<body>
 
    {% block body %}{% endblock %}
 
</body>
</html>