{% extends "layout.html" %}
{% block body %}

<div class="time_updated">Last updated: {{ last_update_time }} UTC</div>

{% for group, urls in checkurls.items() %}

    <h1 class="group">{{ group }}</h1>
    <table id="health-check">
        <tr>
            <th width='75%'>URL</th>
            <th width='25%'>Status</th>
          </tr>
    {% for url in urls %}
        <tr>
        {% if returned_statuses.get(url) == "200" %}
        <td><p class="valid-url">{{ url }}</p></td>
        <td><p class="valid-url"><font color="green"> {{ returned_statuses.get(url) }}</font></p></td>
        
        <!--<p class="good-url">{{ url }} <font color="green"> {{ returned_statuses.get(url) }}</font></p>-->
        {% endif %}
        </tr>
    {% endfor %}
        
   
    {% for url in urls %}
        <tr>
        {% if returned_statuses.get(url) != "200" %}
        <td><p class="invalid-url">{{ url }} </p></td>
        <td><p class="invalid-url"><font color="red"> {{ returned_statuses.get(url) }}</font></p></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}
